<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <script src="~/Scripts/JsAdmin/app.js"></script>
</head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <p>Hello, @User.Identity.Name! | <a href="/User/Logout">Logout</a></p>
    }
    else
    {
        <p>Welcome Guest! | <a href="/User/Login">Login</a></p>
    }

    <div class="container mt-5">
        @RenderBody()
    </div>
</body>
</html>
